body {
    background-color: black;
    color: silver;
    font-family: 'Courier New', Courier, monospace;
}

.score
{
    float: left;
  font-size: 30em;  
}

.balls {
   position: absolute;
   bottom: 0;
   width: 90%;
   padding-bottom: 3%;
   padding-left: 5%;
}
.ball {
    float: left;
    padding: 0px;
	display: block;
    text-align: center;
    font-size: 30px;
    width: 9%;
    height: 0;
    padding-bottom: 9%;
	margin: 0px auto 0;
	border-radius: 50%;
}
/* TODO: make ball colors natural */
.red {
  background: radial-gradient(circle at 65% 15%, white 1px, rgb(255, 108, 108) 3%, rgb(155, 3, 3) 60%, rgb(100, 200, 0) 100%);  
}
.yellow {
    background: radial-gradient(circle at 65% 15%, white 1px, rgb(255, 255, 0) 3%, rgb(100, 100, 0) 60%, rgb(100, 200, 0) 100%);  
}
.green {
    background: radial-gradient(circle at 65% 15%, white 1px, rgb(0, 255, 0) 3%, rgb(100, 100, 0) 60%, rgb(100, 200, 0) 100%);  
}
.brown {
    background: radial-gradient(circle at 65% 15%, white 1px, rgb(205, 152, 18) 3%, rgb(100, 100, 0) 60%, rgb(205, 152, 18) 100%);  
}
.blue {
    background: radial-gradient(circle at 65% 15%, white 1px, rgb(0, 0, 255) 3%, rgb(100, 100, 255) 60%, rgb(205, 152, 18) 100%);  
}
.pink {
    background: radial-gradient(circle at 65% 15%, white 1px, rgb(226, 21, 209) 3%, rgb(255, 21, 255) 60%, rgb(150, 0, 150) 100%);  
}
.black {
    background: radial-gradient(circle at 65% 15%, white 1px, rgb(0, 0, 0) 3%, rgb(50, 50, 50) 60%, rgb(0, 50, 0) 100%);  
}